<!DOCTYPE html>
<html>
  <head>
    <title>Lista materiasprimas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
      function menu(){
        window.location = '/'
      }
      function produtos(){
        window.location = '/produtoVenda'
      }
      function buscar(id){
        c = parseInt(id);
        window.location = "/produtoVenda/buscar?id="+c
      }
      function excluir(id){
        c = parseInt(id);
        window.location = "/produtoVenda/excluir?id="+c
      }
    </script>
  </head>
  <body>
    <input type="button" onclick="menu()" value="Menu Principal"><br><br>
    <input type="button" onclick="produtos()" value="<<">
    <h2>Lista de produtos a venda</h2>
    <p><%= quantidade %> produto(s) registrados <p>
    <table id="produtovenda" border="5" cellspacing="2" cellpadding="8">
      <% if(produtosVenda.length > 0){ %>
      <tr>
        <td>Nome</td>
        <td>Descrição</td>
      </tr>
      <% for(i=0; i<produtosVenda.length; i++){ %>
        <% var a = produtosVenda[i] %>
        <tr>
          <td><%= a.nome %></td>
          <td><%= a.descricao %></td>
          <td><a href="javascript:void(0)" onclick="buscar(<%= a.id %>);">Editar</a></td>
          <td><a href="javascript:void(0)" onclick="excluir(<%= a.id %>);">Excluir</a></td>
        </tr>
      <% } %>
      <% } else { %>
        Nenhum dado cadastrado
      <% } %>
    </table>
  </body>
</html>